@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,600&display=swap');

body::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Crimson Text', Serif;
    color: white;
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow-x: hidden;
}
header {
    background-color: wheat;
    background-image: url(https://images.unsplash.com/photo-1614767629805-3bbcf6e26c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80) !important;
    height: 62px;
    font-size: 24pt;
    border-radius: 25px;
}

h1 {
    padding-left: 2%;
    text-shadow: 0.5px 0.5px grey;
}

body, footer {
    background-color: black;
}

#about {
    font-size: 20pt;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
}


#track {
    display: flex;
    gap: 4vmin;
    flex-direction: row;
    left: 50%;
    top: 50%;

    left: 50%;
    top: 50%;
    transform: translate(0%, 0%);
}
h2 {
    margin-left: 3%;
    font-size: 18pt;
}

h3, h4, ul {
    text-align: center;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4vmin;
}


carp > div {
    -webkit-user-drag: none;
    user-select:  none;
}

.tile {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 5%;
}
.tile > p {
    width: 250px;
    text-align: center;
}


#education > p {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 20pt;
}

#education > div {

    font-size: 16pt;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-style: italic;
    transition: 0.2s;
    
}
#education > div a:link, #education > div a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 1px 0.5px rgb(70, 65, 65);
}

#education > div a:hover {
    color:blue;
    text-shadow: 1px 1px solid white;
}


footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#proj {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#proj a {
    border: 1px solid white;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    color: white;
}

#proj a div {
    text-align: center;
}

#proj a:link {
    text-decoration: none;
    font-size: 20pt;
}

#proj a:hover{
    background-color: grey;
    border: 2px 2px solid white;
    border-radius: 10%;
    color: blue;
}

.tile a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.tile a:hover {
    font-size: 110%;
    font-weight: 660;
}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}